<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find whill_sensor_kit_description)/urdf/pandar_qt.xacro"/>
    <xacro:include filename="$(find whill_sensor_kit_description)/urdf/imu.xacro"/>
    <xacro:include filename="$(find whill_sensor_kit_description)/urdf/camera0.xacro"/>

    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find whill_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- lidar -->
    <xacro:PandarQT64 parent="sensor_kit_base_link" name="hesai_top">
      <origin
        xyz="${calibration['sensor_kit_base_link']['hesai_top']['x']}
             ${calibration['sensor_kit_base_link']['hesai_top']['y']}
             ${calibration['sensor_kit_base_link']['hesai_top']['z']}"
        rpy="${calibration['sensor_kit_base_link']['hesai_top']['roll']}
             ${calibration['sensor_kit_base_link']['hesai_top']['pitch']}
             ${calibration['sensor_kit_base_link']['hesai_top']['yaw']}"
      />
    </xacro:PandarQT64>

    <!-- imu -->
    <xacro:imu_macro
      name="tamagawa/imu"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['x']}"
      y="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['y']}"
      z="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['tamagawa/imu_link']['yaw']}"
      fps="100"
    />

    <!-- camera0 -->
    <xacro:camera0_macro
      name="camera0/camera"
      parent="sensor_kit_base_link"
      namespace=""
      x="${calibration['sensor_kit_base_link']['camera0/camera']['x']}"
      y="${calibration['sensor_kit_base_link']['camera0/camera']['y']}"
      z="${calibration['sensor_kit_base_link']['camera0/camera']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera0/camera']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera0/camera']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera0/camera']['yaw']}"
    />
  </xacro:macro>
</robot>
